<%- include("partials/header") %>

<div class="container">
  <h1>Delete Movie</h1>

  <p>Are you sure you want to delete:</p>

  <p><strong><%= movie.title %></strong> (<%= movie.year %>)</p>

  <form action="/movies/<%= movie._id %>?_method=DELETE" method="POST">
    <button class="btn">Yes, Delete</button>
  </form>

  <a href="/movies" class="btn">Cancel</a>
</div>

<%- include("partials/footer") %>
