<%- include("partials/header") %>
<h1>All Movies</h1>
<a href="/movies/new" class="btn btn-pastel">Add Movie</a>
<ul class="list-group">
  <% movies.forEach(movie => { %>
    <li class="list-group-item">
      <strong><%= movie.title %></strong> - <%= movie.genre %> (<%= movie.year %>)
      <span class="badge"><%= movie.status %></span>
      <a href="/movies/<%= movie._id %>/edit" class="btn btn-edit">Edit</a>
      <form action="/movies/<%= movie._id %>?_method=DELETE" method="POST" style="display:inline;">
        <button class="btn btn-delete">Delete</button>
      </form>
    </li>
  <% }) %>
</ul>
<%- include("partials/footer") %>
